@CHARSET "UTF-8";
html{
	font-family: nanum;
	color:black;
}

table, td, th{
	
	border:0.5px solid chocolate;
	border-spacing:0px
}
table tr{
	height:25px;
	border-color:chocolate;
}
table th{
	padding:10px 5px;
	font-weight:bold;
	
}

table th,td{
	
	text-align:center;
}

table.dataSubTable{
	width:100%;
	
	border:0.1px solid red;
}
table.dataSubTable td{
	background-color: #c3faff;
	border:0.1px solid red;
}

